.sharedState{
    border: 1px solid grey;
    display: inline-block;

    width: 80%;
    box-shadow: 0 2px 2px #ccc;
    padding: 4px;
    margin: 2px auto;

}
h6{
    border: 1px solid red;
    
    color: hotpink;
    margin: 0;
    padding: 2px;
    width: 60%;
    margin: 0 auto;
}    
h6 span {
    color: black;
}

input, button{
    width: 50%;
    margin: 0 auto;
}

.counterMainContainer{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    width: 50%;
  
  }
  
.counterContainer{
    border: 1px solid royalblue;
    display: flex;
    flex-direction: column;
    margin: 2px auto;
    width: 80%;
  }

.counterControls{
    border: 2px solid yellow;
    display: flex;
  }

.inc_dec{
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.special_counter{
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    width: 100%;
}

