.App {
  text-align: center;
}

.allSharedState{
  border: 1px solid darkred;
  display: inline-block;
  box-shadow: 0 2px 2px #ccc;
  padding: 5px;
  margin: 3px;
  height: 40%;
}

h5 {
  color: darkred;
  margin: 1px;
}

.tasksMainContainer {
  border: 1px solid darkblue;
  box-shadow: 0 4px 4px #cdc;
  display: flex;
  flex-direction: column;
  margin: 2px auto;
  width: 40%;
}

.tasksMainContainer h6, h5{
  color: darkblue;
}

.titleViewContainer{
  border: 2px solid green;
  margin: 1px auto;;


}

input{
  outline-style: none;
}

.fa-atom{
  padding-left: 4px;
}